.jumbotron-title {
  padding: 5px 20px;
  text-align: center;
  font-size: 32px;
  background-color: #e9f4fc;
}

.jumbotron-content {
  padding: 5px 20px;
  font-size: 22px;
  background-color: #e9f4fc;

}
